@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";

body {
  width: 100%;
  height: 100vh;

  position: relative;

  overflow-x: hidden;
  overflow-y: hidden;

  background: var(--bg_color);
}

.cv__container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cv__modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.817);
  z-index: -5;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}

.modal_open {
  z-index: 5;
  opacity: 1;
}

.cv__modal-close {
  position: absolute;
  top: 20px;
  right: 3%;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  border: 5px solid #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  cursor: pointer;
}

.close-line {
  width: 70%;
  height: 5px;
  background: red;
  position: absolute;
}

.close-line_left {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.close-line_right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.cv__modal-slider {
  width: 1280px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;

  color: #fff;
}

.modal-slider-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.modal-slider__arrow {
  width: 30px;
  height: 30px;
  border-top: 10px solid #fff;
  border-right: 10px solid #fff;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.modal-slider__arrow:hover {
  border-top: 10px solid coral;
  border-right: 10px solid coral;
}

.arrow-left {
  transform: rotate(-135deg);
}

.arrow-right {
  transform: rotate(45deg);
}

.modal-slider__center {
  width: 80%;
}

.modal-slider__item {
  position: relative;
  width: 100%;
  height: 0;

  padding-top: 56.25%;
}

.modal-slider__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.modal-content {
  width: 100%;
  padding: 20px;

  text-align: center;
  font-family: var(--author_font);
  font-size: var(--modal-text_size);
}

.modal-content__link {
  color: var(--link_color);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.modal-content__link:hover {
  color: var(--active-link_color);
}

.cv-card {
  position: relative;
  width: 100%;
  height: 600px;
}

.cv-card__item {
  position: absolute;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;

  border-top-left-radius: 50px;

  background: var(--bg-cv_color);
}

.cv-front {
  transform: perspective(600px) rotateY(180deg);
  -webkit-transform: perspective(600px) rotateY(180deg);
  -moz-transform: perspective(600px) rotateY(180deg);
  -ms-transform: perspective(600px) rotateY(180deg);
  -o-transform: perspective(600px) rotateY(180deg);
}

.cv-back {
  transform: perspective(600px) rotateY(0deg);
  -webkit-transform: perspective(600px) rotateY(0deg);
  -moz-transform: perspective(600px) rotateY(0deg);
  -ms-transform: perspective(600px) rotateY(0deg);
  -o-transform: perspective(600px) rotateY(0deg);
}

.cv-back__row {
  position: relative;
  width: 100%;
  padding: 20px;

  overflow-x: hidden;
}

.cv-back-navigation-menu {
  width: 100%;
  display: flex;
  column-gap: 50px;

  font-family: var(--link_font);
}

.cv-back-navigation-menu-item_middle {
  margin-left: auto;
}

.cv-back__link {
  font-size: var(--link_size);
  font-weight: bold;
  color: var(--link_color);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-bottom: 5px solid transparent;
  padding-bottom: 5px;
}

.cv-back__link:hover,
.cv-back__link_active {
  color: var(--active-link_color);
  border-bottom: 5px solid var(--active-link_color);
}

.burger {
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 20px;

  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: none;

  cursor: pointer;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.burger:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.burger__item {
  width: 100%;
  height: 7px;

  background: var(--burger_color);
}

.cv-back__main {
  display: flex;
  justify-content: space-between;

  font-family: var(--main_font);
  font-size: var(--main_size);
  color: var(--main-text_color);
}

.main-content__column {
  flex: 1 1 33.3%;
}

.cv-column_bordered {
  border: 5px solid var(--border_color);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  position: relative;

  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: var(--title_size);
  font-family: var(--title_font);
  font-weight: bold;

  width: 200px;
  text-align: center;
}

.title_mini {
  font-size: var(--main-text_size);
}
.title_author {
  font-size: var(--author-title_size);
}
.about__title {
  font-family: var(--author_font);
}

.title_line::after,
.title_line::before {
  position: absolute;
  content: "";

  top: 13px;
  width: 50px;
  height: 5px;
  background: var(--main-text_color);
}

.title_line::before {
  left: -30px;
}
.title_line::after {
  right: -30px;
}

.content {
  text-align: center;

  margin-bottom: 30px;
  padding-bottom: 10px;
}

.education,
.language,
.skills {
  border-bottom: 5px solid var(--border_color);
}

.education__years {
  opacity: 0.8;
}

.education__community {
  font-style: italic;
}

.profile__photo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 31px;
  position: relative;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--main-text_color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.photo {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  box-shadow: 6px 6px #989898, 12px 12px #6c6666;
}

.about__photo_left {
  margin-top: 129px;
}

.photo__link {
  width: 180px;
  height: auto;
  display: block;
  object-fit: cover;
}

.photo__item {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.photo__item:hover {
  width: 191px;
  height: 191px;
  cursor: pointer;
}

.skills__list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.circle {
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.circle-level {
  animation: circle 2s 0.5s linear normal;
  -webkit-animation: circle 2s 0.5s linear normal;
  transition: stroke 0.3s ease-in-out;
  -webkit-transition: stroke 0.3s ease-in-out;
  -moz-transition: stroke 0.3s ease-in-out;
  -ms-transition: stroke 0.3s ease-in-out;
  -o-transition: stroke 0.3s ease-in-out;
}
.circle-level:hover {
  stroke: var(--active-link_color);
}

.project__imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project__item {
  position: relative;
  width: 33.3%;
  height: 0;
  padding-top: 18.75%;
}

.imgs__item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  height: auto;
  cursor: pointer;
}

@keyframes circle {
  0% {
    stroke-dasharray: 0 100;
    stroke: transparent;
  }
  10% {
    stroke-dasharray: 10 90;
  }
  20% {
    stroke-dasharray: 20 80;
  }
  30% {
    stroke-dasharray: 30 70;
  }
}

@media screen and (max-width: 768px) {
  .header__navigation {
    position: relative;
    height: 100vh;

    right: -768px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .active {
    right: 0;
  }

  .header__navigation-menu {
    width: 320px;
    height: 500px;
    margin-left: auto;
    margin-top: -20px;
    margin-right: -20px;
    padding-top: 100px;
    padding-bottom: 50px;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0;
    row-gap: 30px;
    background: black;
  }

  .cv-back-navigation-menu-item_middle {
    margin-left: 0;
  }

  .burger {
    display: flex;
    position: fixed;
  }
}
