:root {
  --main_font: "Montserrat";
  --title_font: "Playfair";
  --link_font: "Playfair";
  --author_font: "Pacifico";

  --main_size: 0.8rem;
  --author-title_size: 1.4rem;
  --title_size: 1.2rem;
  --link_size: 1.1rem;
  --author-text_size: 1.1rem;
  --modal-text_size: 2rem;
}

[data-theme="dark"] {
  --bg_color: #28313b;
  --bg-cv_color: rgba(0, 0, 0, 0.49);
  --main-text_color: #fff;
  --link_color: #fff;
  --burger_color: #fff;
  --switcher_color: #fff;
  --border_color: coral;
  --active-link_color: coral;
  --active-burger_color: coral;
}

[data-theme="light"] {
  --bg_color: #f0e2ec;
  --bg-cv_color: rgba(210, 238, 0, 0.766);
  --main-text_color: rgba(12, 20, 93, 0.9);
  --link_color: rgba(12, 20, 93, 0.9);
  --switcher_color: rgba(12, 20, 93, 0.9);
  --skills-round_color: rgba(12, 20, 93, 0.9);
  --active-link_color: coral;
}
